{
  "extends": [
    "stylelint-config-prettier",
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules": [
          "at-root",
          "content",
          "debug",
          "each",
          "else",
          "error",
          "extend",
          "for",
          "function",
          "if",
          "include",
          "mixin",
          "return",
          "warn",
          "while",
        ]
      }
    ],
    "order/properties-alphabetical-order": true
  }
}
