@-ms-viewport {
  width: device-width;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: $base-color;
  color: $base-bgcolor;
  text-shadow: none;
}

html {
  height: 100%;
}

body {
  background: $base-bgcolor;
  color: $base-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family, $base-font-family-fallback;
  margin: 0;
  min-height: 100%;
  position: relative;
}
