// Base

$color: #111;
$color-bg: #fdfdfd;

$color-headings: #686868;

// Links

$color-link: #2980b9;
$color-link-active: lighten($color-link, 10%);
$color-link-hover: darken($color-link, 10%);

$color-outline: $color-link;

// Border

$color-border: #808080;
$color-border-hover: darken($color-border, 20%);
