$root-font-size: 100%;
$font-family: Arial;
$font-family-fallback: sans-serif;
$font-size: 1rem;
$font-weight: 400;

$line-height: 1.5em;

$font-family-code: 'Courier New';
$font-family-code-fallback: monospace;

$grid-container: 48rem;
