$code-font-family: 'Courier New';
$code-font-family-fallback: monospace;
$code-font-size: 0.875rem;

code {
  font-family: $code-font-family, $code-font-family-fallback;
  font-size: $code-font-size;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
}

pre {
  display: block;
  margin: 0;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
}
