.github {
  height: 80px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateZ(0);
  width: 80px;
  z-index: 1;

  &__arm {
    transform-origin: 130px 106px;
  }

  &:hover {
    .github__arm {
      @media (min-width: $media-sm) {
        animation: octocat-wave 560ms ease-in-out;
      }
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
